@{
    ViewBag.Title = "Home Page";
}

<div class="container login-container">
    <br />
    <div class="form-group">
        <div id="index_info">
            <h4>Register Maps Project - Navagis Maps</h4> <br />
            <span><b>Login using the Google Account Owner for your Maps Project</b></span><br>
            <span>(See your official registration email for the email address associated with your Maps API License).</span><br><br />
            <a href="@Url.Action("Connect", "Home")"><img src="~/Public/signinwithgoogle.PNG" /></a>
        </div>
    </div>
</div>
<style>
    #index_info {
        text-align: center
    }

    #index_info span {
        color: #525f7f;
    }
</style>
